.sl{
   max-width: 1140px;
   position: relative;
}
.slider{
   overflow: hidden;
   margin-left: -15px;
   margin-right: -15px;
}
.row-slider{
   margin:0;
   width:9999px;
   float: left;
    margin-left:0;
   transition: all ease 1s;
}
.col-slider-1{
   width:745px;
   margin-left:0;
   float: left;
}
.col-slider-3{
   width:390px;
   margin-left:0;
   float: left;
}
.col-slider-4{
   width:292px;
   margin-left:0;
   float: left;
}
.leftButton, .rightButton{
   background: url(../img/nav.png);
   background-repeat: no-repeat;
   background-size: 180%;
   repeat: no repeat;
   top: 50%;
   transform: scale(1.2);
   position: absolute;
   width: 25px;
   height: 25px;
   color: black;
   font-size: 40px;
   cursor: pointer;
   line-height:2;
   font-weight: bold;
}
.leftButton{
   background-position:left;
   left:-40px;
}
.rightButton{
   right:-40px;
   background-position:right;
}
.circle{
   cursor: pointer;
}
.active-circle{
   background: #006ca9!important;
}
@media screen and (max-width: 792px){
   .slider{
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
   .row-slider .myslide{
   width:300px;
   overflow: hidden;
   }
   .row-slide-label{
    width:295px;
   }
   .leftButton {
    left: 10px;
   }
   .rightButton {
    right: 10px;
   }
   .buttons-navigations{
      display:block;
   }
   .button-navigatin {
    display: block;
    margin: 0 1em 0.5em 0;
   }
   .sl{
    max-width: 350px;
   }
   #instagram div{
      width:47%;
      margin: 0 auto;
   }
}