body{
	margin: 0 auto;
	font-family: TUI-reg;
  font-size: 18px !important;
  color: #092a5e;
}

h2{
	margin: 3em 0 1em;
}
h4{
	margin: 1em 0 0.5em;
}
img{
	width: 100%;
}
input{
	color: grey!important;
}
.active-link{
	border-bottom: 4px solid #092a5e;
	color:#092a5e!important;
	cursor: default;
}
.row-all{
	overflow: hidden;
}
.lSPager li>a{
	width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #c2e6fa;
  margin: 0 0.5em 0 0;
}
.label{
	width: 160px;
	baackground
}
.top-slider{
	background: url(../img/banner-slider-1.png);
	background-size: cover;
	font-weight: bold;
}
.icon-top{
	padding:35px;
}
.top-informations{
font-size: 1.5em;
margin: 1.9em 0 2.5em;
background: #c2e6facc;
padding: 10% 2% 5%;
color: #092a5f;
}
.buttons-slider{
	display: flex;
  justify-content: flex-start;
  padding: 0;
}
.button-slider{
  height: 62px;
  border-radius: 2px;
  box-shadow: inset 0 -4px 0 0 #95bc00;
  background-color: #aad700;
  font-size: 1em;
  margin: 0 10px 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
  cursor: pointer;
}
.top-informations .button-slider{
	margin-top:1em;
	background-color: #092a5f;
	box-shadow: inset 0 -4px 0 0 #082047;
	color: white;
	font-weight: normal;
}
.entertainment::before{
  background: url(../img/2.png);
}
.photo::before{
  background: url(../img/1.png);
}
.entertainment::before,
.photo::before{
	content: "";
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.buttons-navigations{
	display: flex;
	justify-content: flex-start;
	color:#737373;
	margin: 1em 0 0;
	cursor: pointer;
}
.buttons-navigations:a{

}
.button-navigatin{
	padding: 0 0 0.3em;
	margin: 0 1em 1.8em 0;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color:#737373;
}
.slider{
	/*display: flex;*/
	justify-content: space-between;
	min-width: 150px;
	min-height: 150px;
}
.sliders-hotels{
	border: 1px solid #dcdcdc;
	/*width: 32.5%;*/
	background: white;
  padding: 0 0 0.5em 0;
}
.sliders-hotels:hover{
	transition: 0.5s;
	box-shadow: 0 0 15px rgba(158, 158, 158, 0.48);
	cursor: pointer;
}
.sliders-hotels img{
	width:100%;
	height: 204px;
}

.slider-content{
	/*padding: 2%;*/
	margin: 2% 2% 8%;
}
.slider-content ul{
	margin: 1em 2em;
	font-size: 0.8em;
}
.gey_p{
	color: grey;
	font-size:0.8em;
}
.block-circle{
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 1em auto;
}
.circle{
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background: #c2e6fa;
	margin:0 0.5em 0 0 ;

}
.block_3{
	background: #e2f3fe;
	margin: 3% 0;
	padding: 1%;
}
.block_3 h2{
	margin: 0em 0 0.5em;
}
.price{
	padding: 0 2%;
	font-weight: bold;
}
.price-num{
	font-weight: normal;
}
.tour_a{
	background: #ffe100;
    width: 100%;
    text-align: center;
    padding: 0.4em;
}
.label-hotel{
	position: relative;
}
.label-hotel .tour_a{
	background: #d40e14;
	color: white;
}

.label-hotel .price-num{
	margin: 0em 0em 1em 0em;
}
.label-hotel:before{
	content: "ВЫГОДНОЕ ПРЕДЛOЖЕНИЕ";
	display: block;
	position: absolute;
	width: 180px;
	left:-10px;
	top: -10px;
	padding: 8px;
	background: #d40e14;
  font-size: 0.55em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  z-index:1;
  border-radius: 0 0 0 3px;
}
.label-hotel:after{
	content: "";
	display: block;
	position: absolute;
	left:-14.7px;
	top: 11px;
	border: 5px solid transparent;
	border-right: 10px solid #8c0004;;
	border-bottom: 6px solid transparent;
}

.old-price{
	border-bottom: 2px dashed #dcdcdc;
	color: #dcdcdc;
	text-decoration: line-through;
}
.contact-form{
	background:#092a5e;
	color: white;
	text-align: center;
	overflow: hidden;
}
input{
	width:100%;
	background: white!important;
	text-align: center;
	margin:0.4em 0;
	height: 2em;
	border-radius:2px !important;
}
.img-slider-md8{
	height: 8em;
}
.submit{
	color: white!important;
	background: #70cbf4!important;
}
.subscription{
	margin: 1.9em;
}
.subscription-block{
	margin: 3em 0;
	display: flex;
  align-items: stretch;
}
.slider-md8{
	background: #e2f3fe;
}
.content-slider-md8{
	padding:0 3em 1em;
}
.subscription-block h2{
	margin: 1em 0;
}
.contact-form-parent{
	padding:0;
	background:#092a5e;
}
.time-start{
	display: flex;
}
.hap-programs{
	height:400px;
	position: relative;
	min-width:150px;
}

.info-img{
	padding:1em 0;
	position: absolute;
	bottom:0;
	background: #c2e6facc;
	width:100%;
	text-align: center;
}
.info-img h4{
	margin:1em 0;
}
.download{
	background: #c2e6facc;
	padding: 1em;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #1896cf;
	font-size: 1.2em;
	font-weight: bold;
	margin:0;
}
.download img{
	width: 30px;
  margin-right: 10px;
}
.rewiew{
	background: #70cbf4;
	/*padding:2%;*/
	margin: 1% 0;
}

.rewiew-all{
	background: #e2f3fe;
	margin: 2% 0 3%;
}
.rewiew-all .col-md-12{
	padding: 2%;
}
.footer-informations{
		background: #70cbf4;
		color: white;
		padding: 1%;
}
.footer-informations h3{
	margin:0 0 5%;
}
.icons-footer{
	justify-content: space-between;
	align-items: center;
}
.footer-informations a{
	text-decoration: none;
	color: white;
}
.instagram{
	padding:1% 0;
}
.inst-pohoto{
	height: 250px;
	background: blue;
}
.inst-text{
	height: 50px;
	background: red;
}
#instagram{
	text-align:center;
}
#instagram div{
	display: inline-block;
	width:23%;
	margin: 1%;
}
.inst-descroption{
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.row-slide-label{
	padding:10px;
}
.content-block{
	display: flex;
}
.performance-title{
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 4% 1em;
	font-weight: bold;
	border-radius: 2px;
  background-color: #70cbf4;
}

/*.slider-one .leftButton{
   left: 35px;
}
.slider-one .rightButton{
   right: 405px;
}

.slider-one .block-circle{
	display:none;
}*/
.footer-info{
	justify-content: center;
}
.top-right{
	justify-content: flex-end;
}
.video-top{
	align-items: flex-end;
	justify-content: center;
	color: white;
	background:#70cbf4;
	overflow: hidden;
	-webkit-transform: skew(-11deg);
	   -moz-transform: skew(-11deg);
	     -o-transform: skew(-11deg);
}
.button-top{
	padding:3% 2%;
	border: 1px solid white;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	margin-bottom: 2em;
	max-width: 217px;
}
.button-top, #player, .thumbnail_container, .start-video{
-webkit-transform: skew(11deg);
   -moz-transform: skew(11deg);
     -o-transform: skew(11deg);
}
.play{
	position: relative;
	justify-content: center;
}
#player{
     margin-bottom: 2em;
     width:500px;
}
